<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>CPU</key>
	<dict>
		<key>QPI</key>
		<string>100</string>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 -v</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
		<key>Secure</key>
		<false/>
		<key>DefaultVolume</key>
		<string>OSX</string>
	</dict>
	<key>Graphics</key>
	<dictx
		<key>DualLink</key>
		<integer>1</integer>
		<key>ig-platform-id</key>
		<string>0x19160000</string>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<true/>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Theme</key>
		<string>bluemac</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Kernel</key>
			<string>All</string>
		</dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-0.aml</string>
			<string>SSDT-3.aml</string>
			<string>SSDT-4.aml</string>
			<string>SSDT-5.aml</string>
			<string>SSDT-6.aml</string>
			<string>SSDT-14.aml</string>
			<string>SSDT-19.aml</string>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Name</key>
			<string>dsdt.aml</string>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<true/>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>PStates</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x0</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 30 in AppleUSBXHCIPCI</string>
				<key>Find</key>
				<data>
				g72M/v//EA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g72M/v//Hw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Skylake APIC fix, discovered by Pike R. Alpha</string>
				<key>Find</key>
				<data>
				wegQD7bw
				</data>
				<key>Name</key>
				<string>AppleAPIC</string>
				<key>Replace</key>
				<data>
				vhcAAACQ
				</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<data>YQLsEA==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<data>YgLsEA==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<data>hQjsEA==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<data>gxnUEQ==</data>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Comment</key>
				<string>Expect 2 matches</string>
				<key>Find</key>
				<data>hBnUEQ==</data>
				<key>Replace</key>
				<data>VgLsEA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3 post wake</string>
				<key>Name</key>
				<string>#AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>SMBIOS</key>
        <dict>
                <key>ProductName</key>
                <string>MacBookAir6,2</string>
                <key>BiosVersion</key>
                <string>MBA61.88Z.0099.B12.1405241030</string>
        </dict>
</dict>
</plist>
